<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="1f98056e-234e-4c4e-93c7-ecb450ed576f" Publisher="CN=Aditya" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="1f98056e-234e-4c4e-93c7-ecb450ed576f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CricketTeamDistributor</DisplayName>
    <PublisherDisplayName>Aditya</PublisherDisplayName>
    <Logo>Assets\StoreLogo.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CricketTeamDistributor.App">
      <m3:VisualElements DisplayName="Team Builder" Square150x150Logo="Assets\Square360x360.jpg" Square44x44Logo="Assets\Small44x44.jpg" Description="CricketTeamDistributor" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\Wide.jpg" Square71x71Logo="Assets\Square170x170.jpg">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.jpg" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>